[gcode_macro TIMELAPSE_CLEAN]
Description: Deletes tiny/corrupt timelapse frames (<15KB) before rendering the video.
# IT: Elimina i frame del timelapse troppo piccoli/corrotti (<15KB) prima di renderizzare il video.
gcode:
    RUN_SHELL_COMMAND CMD=TIMELAPSE_CLEAN


# With Putty sudo find ~/printer_data/config/macro/scripts/ -type f -name "*.sh" -exec chmod +x {} \;
[gcode_shell_command TIMELAPSE_CLEAN]
command: bash timelapse_clean
timeout: 600.
verbose: True
