# https://www.klipper3d.org/Config_Reference.html#filament_motion_sensor

[filament_motion_sensor encoder_sensor]

detection_length: 12   # It could be the MAX distance from the Encoder to Extruder
#   The minimum length of filament pulled through the sensor to trigger
#   a state change on the switch_pin
#   Default is 7 mm.

extruder: extruder
#   The name of the extruder section this sensor is associated with.
#   This parameter must be provided.

switch_pin: filament_encoder_pin  # If at printer start got runnout, try ^!filament_encoder_pin or ^filament_encoder_pin or !filament_encoder_pin
# changing the switch_pin name according to your motherboard

pause_on_runout: true
#   When set to True, a PAUSE will execute immediately after a runout
#   is detected. Note that if pause_on_runout is False and the
#   runout_gcode is omitted then runout detection is disabled. Default
#   is True.

event_delay: 3.0 # seconds
#   The minimum amount of time in seconds to delay between events.
#   Events triggered during this time period will be silently
#   ignored. The default is 3 seconds.

pause_delay: 0.5
#   The amount of time to delay, in seconds, between the pause command
#   dispatch and execution of the runout_gcode. It may be useful to
#   increase this delay if OctoPrint exhibits strange pause behavior.
#   Default is 0.5 seconds.
#   If it won't execute the CHANGE_FILAMENT script if the filament sensor pauses it first, use very short pause_delay: 0.0001

runout_gcode:
#   A list of G-Code commands to execute after a filament runout is
#   detected. See docs/Command_Templates.md for G-Code format. If
#   pause_on_runout is set to True this G-Code will run after the
#   PAUSE is complete. The default is not to run any G-Code commands.
    runnout_init # Runnour with Purge Attempts or Autounload 

insert_gcode:
#   A list of G-Code commands to execute after a filament insert is
#   detected. See docs/Command_Templates.md for G-Code format. The
#   default is not to run any G-Code commands, which disables insert
#   detection.
#    AUTO_LOAD_FILAMENT
