# ENCODER BTT https://github.com/bigtreetech/smart-filament-detection-module

[duplicate_pin_override]  #needed for debug
pins: filament_encoder_switch_pin

# [include z_filament_encoder_debug.cfg]   # ENABLE DEBUG feature, DISABLE it if you want to print

[filament_motion_sensor encoder_sensor]
detection_length: 25
#   The minimum length of filament pulled through the sensor to trigger
#   a state change on the switch_pin
#   Default is 7 mm.
extruder: extruder
#   The name of the extruder section this sensor is associated with.
#   This parameter must be provided.
switch_pin: !filament_encoder_switch_pin
# changing the switch_pin name according to your motherboard
pause_on_runout: true
#insert_gcode:
event_delay: 5.0 # seconds
## The minimum amount of time in seconds to delay between events
## Events triggered during this time period will be silently ignored
pause_delay: 3
## The amount of time to delay, in seconds, between the pause command dispatch and execution of the runout_gcode. 
#  it won't execute the CHANGE_FILAMENT script if the filament sensor pauses it first. I also recommend a very short pause_delay: 0.0001
runout_gcode:
    PAUSE
    M117 FILAMENT RUNOUT!!!
    M118 FILAMENT RUNOUT!!!
    M300 # beep
    # M600
    # MANUAL RETRACTION
    # {% set speed = params.SPEED|default(500) %}
    # G91
    # G92 E0
    # G1 E40 F{speed}
    # G90

insert_gcode:
    M117 FILAMENT LOADED!!!
    M118 FILAMENT LOADED!!!
    # MANUAL LOAD_FILAMENT
    # {% set speed = params.SPEED|default(500) %}
    # G91
    # G92 E0
    # G1 E-40 F{speed}
    # G90

[gcode_macro Filament_sensor_ON]
gcode:
    SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=1

[gcode_macro Filament_sensor_OFF]
gcode:
    SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0

[gcode_macro SENS_FILO] # Test Filament runout sensor
gcode:
    QUERY_FILAMENT_SENSOR SENSOR=encoder_sensor
   # QUERY_FILAMENT_SENSOR SENSOR=sensore_filamento
