[gcode_macro SET_ACTIVE_SPOOL]
description: Tells Spoolman which filament spool (by ID) is currently loaded.
# IT: Dice a Spoolman quale bobina di filamento (per ID) è attualmente caricata.
gcode:
  {% if params.ID %}
    {% set id = params.ID|int %}
    {action_call_remote_method(
       "spoolman_set_active_spool",
       spool_id=id
    )}
  {% else %}
    {action_respond_info("Parameter 'ID' is required")}
  {% endif %}

[gcode_macro CLEAR_ACTIVE_SPOOL]
description: Clears the active spool in Spoolman.
# IT: Rimuove la bobina attiva in Spoolman.
gcode:
  {action_call_remote_method(
    "spoolman_set_active_spool",
    spool_id=None
  )}
