[gcode_macro POWER_OFF]
description: Turns off the printer's Tasmota smart plug.
# IT: Spegne la presa smart Tasmota della stampante.
gcode:
    {action_call_remote_method("set_device_power", device="Power", state="off")}

[gcode_macro POWER_ON]
description: Turns on the printer's Tasmota smart plug.
# IT: Accende la presa smart Tasmota della stampante.
gcode:
    {action_call_remote_method("set_device_power", device="Power", state="on")}


