#  ██████╗ ██╗             ████████╗ ██████╗  ██████╗██╗   ██╗██╗  ██╗
#  ██╔══██╗██║             ╚══██╔══╝██╔═══██╗██╔════╝██║   ██║██║  ██║
#  ██████╔╝██║      █████╗    ██║   ██║   ██║██║     ██║   ██║███████║
#  ██╔══██╗██║      ╚════╝    ██║   ██║   ██║██║     ██║   ██║██╔══██║
#  ██████╔╝███████╗           ██║   ╚██████╔╝╚██████╗╚██████╔╝██║  ██║
#  ╚═════╝ ╚══════╝           ╚═╝    ╚═════╝  ╚═════╝ ╚═════╝ ╚═╝  ╚═╝
#   

[gcode_macro BL_RESET]
Description: Resets the BLTouch pin.
# IT: Resetta il pin del BLTouch.
gcode:
    BLTOUCH_DEBUG COMMAND=reset

[gcode_macro BL_DOWN]
Description: Extends (deploys) the BLTouch pin.
# IT: Estende (dispiega) il pin del BLTouch.
gcode:
  BLTOUCH_DEBUG COMMAND=pin_down

[gcode_macro BL_UP]
Description: Retracts the BLTouch pin.
# IT: Ritrae il pin del BLTouch.
gcode:
  BLTOUCH_DEBUG COMMAND=pin_up

[gcode_macro BL_TEST]
Description: Runs BLTOUCH_DEBUG self-test commands (reset, pin down, pin up) to check the probe works.
# IT: Esegue i comandi di self-test BLTOUCH_DEBUG (reset, pin down, pin up) per verificare che la sonda funzioni.
gcode:
    BL_RESET
    BL_DOWN
    G4 P1500
    BL_UP
    BL_RESET
