[gcode_macro WEBCAM_ON]
Description: Start Crowsnest & Webcamd services
# IT: Avvia i servizi Crowsnest e Webcamd
gcode:
    RUN_SHELL_COMMAND CMD=webcam_start

[gcode_shell_command webcam_start]
command: bash webcam_start
timeout: 5.
verbose: False

[gcode_macro WEBCAM_OFF]
Description: Stop Crowsnest & Webcamd services
# IT: Ferma i servizi Crowsnest e Webcamd
gcode:
    RUN_SHELL_COMMAND CMD=webcam_stop

[gcode_shell_command webcam_stop]
command: bash webcam_stop
timeout: 5.
verbose: False

[gcode_macro WEBCAM_CHECK]
Description: Check USB Webcam connected
# IT: Controlla se la webcam USB è collegata
gcode:
    RUN_SHELL_COMMAND CMD=webcam_check

[gcode_shell_command webcam_check]
command: bash webcam_check
timeout: 5.
verbose: False
