#  ¦¦+   ¦¦+¦¦¦¦¦¦¦+¦¦¦¦¦¦+ 
#  ¦¦¦   ¦¦¦¦¦+----+¦¦+--¦¦+
#  ¦¦¦   ¦¦¦¦¦¦¦¦¦¦+¦¦¦¦¦¦++
#  ¦¦¦   ¦¦¦+----¦¦¦¦¦+--¦¦+
#  +¦¦¦¦¦¦++¦¦¦¦¦¦¦¦¦¦¦¦¦¦++
#   +-----+ +------++-----+ 
#  


[gcode_macro USB_KEY]
description: Show USB partition. Ex: /dev/sda1
gcode:
    RUN_SHELL_COMMAND CMD=USB_KEY

[gcode_shell_command USB_KEY]
command: sh /home/pi/printer_data/config/config/scripts/usb/USB_KEY.sh
timeout: 10.
verbose: True


[gcode_macro USB_MOUNT]
description: Mount USB partition
gcode:
    RUN_SHELL_COMMAND CMD=USB_MOUNT

[gcode_shell_command USB_MOUNT]
command: sh /home/pi/printer_data/config/config/scripts/usb/USB_MOUNT.sh
timeout: 10.
verbose: True

[gcode_macro USB_UNMOUNT]
description: Unmount USB partition
gcode:
    RUN_SHELL_COMMAND CMD=USB_UNMOUNT

[gcode_shell_command USB_UNMOUNT]
command: sh /home/pi/printer_data/config/config/scripts/usb/USB_UNMOUNT.sh
timeout: 10.
verbose: True

[gcode_macro USB_COPY_GCODES]
description: Copy the content of USB_device\gcodes\ folder in Klipper
gcode:
    RUN_SHELL_COMMAND CMD=USB_COPY_GCODES

[gcode_shell_command USB_COPY_GCODES]
command: bash /home/pi/printer_data/config/config/scripts/usb/USB_COPY.sh
timeout: 10.
verbose: True


[gcode_macro USB_CHECK]
description: Show USB /dev/serial/by-id/. Usefull to find MCU patch
gcode:
    RUN_SHELL_COMMAND CMD=USB_CHECK

[gcode_shell_command USB_CHECK]
command: sh /home/pi/printer_data/config/config/scripts/usb/USB_Check.sh
timeout: 10.
verbose: True
