[gcode_macro SET_BED_TEMP_TO_SENSOR]
description: Sets the target bed temperature to match its current measured temperature.
# IT: Imposta la temperatura target del piano uguale a quella misurata al momento.
gcode:
    {% set bed_temp = printer.heater_bed.temperature %}
    {% if bed_temp > 45 %}  # decrease the temp if your ambient temp is colder
        M140 S{bed_temp}
    {% endif %}
