[Unit]
Description=Log the CPU load

[Service]
Type=oneshot
ExecStart=/bin/bash /home/pi/printer_data/config/config/scripts/cpu/LOG_CPU.sh

[Install]
WantedBy=multi-user.target
