# Debug Filament Ecnoder

[gcode_macro Filament_Encoder_ON]
description: Enables the filament encoder sensor.
# IT: Abilita il sensore encoder del filamento.
gcode:
    {% if printer.configfile.config['filament_motion_sensor encoder_sensor'] is defined %}
    SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=1
    {% else %}
        M118 Filament encoder not configurated
    {% endif %}

[gcode_macro Filament_Encoder_OFF]
description: Disables the filament encoder sensor.
# IT: Disabilita il sensore encoder del filamento.
gcode:
    {% if printer.configfile.config['filament_motion_sensor encoder_sensor'] is defined %}
    SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0
    {% else %}
        M118 Filament encoder not configurated
    {% endif %}

[gcode_macro Filament_Encoder_Test] # Test Filament runout sensor
description: Queries the filament encoder sensor's current state.
# IT: Interroga lo stato attuale del sensore encoder del filamento.
gcode:
    {% if printer.configfile.config['filament_motion_sensor encoder_sensor'] is defined %}
    QUERY_FILAMENT_SENSOR SENSOR=encoder_sensor
    {% else %}
        M118 Filament encoder not configurated
    {% endif %}
