[gcode_macro NEOPIXEL_extruder_temp]
Description: Shows the extruder temperature as a glow effect on the neopixel.
# IT: Mostra la temperatura dell'estrusore come effetto glow sul neopixel.
gcode:
    NEOPIXEL_DISPLAY LED="neopixel_led" TYPE=extruder_temp MODE=glow

[gcode_macro NEOPIXEL_print_percent]
Description: This macro command will show print completion in progress mode.
# IT: Questa macro mostra il completamento della stampa in modalità progress.
gcode:
    NEOPIXEL_DISPLAY LED="neopixel_led" TYPE=print_percent MODE=progress

[gcode_macro NEOPIXEL_printer_speed]
Description: Shows the printer speed as a progress-bar effect on the neopixel.
# IT: Mostra la velocità della stampante come barra di progresso sul neopixel.
gcode:
    NEOPIXEL_DISPLAY LED="neopixel_led" TYPE=printer_speed MODE=progress

[gcode_macro NEOPIXEL_ON]
Description: Turns the neopixel display fully on.
# IT: Accende completamente il display neopixel.
gcode:
    NEOPIXEL_DISPLAY LED="neopixel_led" TYPE=on MODE=progress

[gcode_macro NEOPIXEL_OFF]
Description: Turns the neopixel display off.
# IT: Spegne il display neopixel.
gcode:
    NEOPIXEL_DISPLAY LED="neopixel_led" TYPE=off MODE=progress



