[gcode_macro HOMING_IF_NOT]
Description: Homes all axes, but only if the printer isn't already homed.
# IT: Fa l'homing di tutti gli assi, ma solo se la stampante non è già homata.
gcode:
    {% if printer.toolhead.homed_axes != "xyz" %}
      M117 Printer not homed... Homing!
      M118 Printer not homed... Homing!
      G28
    {% endif %}

[gcode_macro HOMING_AXES_IF_NOT]
Description: Homes each axis individually, but only the ones not already homed.
# IT: Fa l'homing di ogni asse singolarmente, ma solo di quelli non ancora homati.
gcode:
    {% if 'x' not in printer.toolhead.homed_axes %}    
    G28 X
    {% endif %}
    {% if 'y' not in printer.toolhead.homed_axes %}    
    G28 Y
    {% endif %}
    {% if 'z' not in printer.toolhead.homed_axes %}    
    G28 Z
    {% endif %}
