# https://github.com/Travis90x/Klipper-configuration/blob/Klipper_AI_macro/macro/macros/precise_homing.cfg
#  ██████╗ ██████╗ ███████╗ ██████╗██╗███████╗███████╗
#  ██╔══██╗██╔══██╗██╔════╝██╔════╝██║██╔════╝██╔════╝
#  ██████╔╝██████╔╝█████╗  ██║     ██║███████╗█████╗  
#  ██╔═══╝ ██╔══██╗██╔══╝  ██║     ██║╚════██║██╔══╝  
#  ██║     ██║  ██║███████╗╚██████╗██║███████║███████╗
#  ╚═╝     ╚═╝  ╚═╝╚══════╝ ╚═════╝╚═╝╚══════╝╚══════╝
#                                                     
#  ██╗  ██╗ ██████╗ ███╗   ███╗██╗███╗   ██╗ ██████╗  
#  ██║  ██║██╔═══██╗████╗ ████║██║████╗  ██║██╔════╝  
#  ███████║██║   ██║██╔████╔██║██║██╔██╗ ██║██║  ███╗ 
#  ██╔══██║██║   ██║██║╚██╔╝██║██║██║╚██╗██║██║   ██║ 
#  ██║  ██║╚██████╔╝██║ ╚═╝ ██║██║██║ ╚████║╚██████╔╝ 
#  ╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚═╝╚═╝  ╚═══╝ ╚═════╝  
# 

[gcode_macro PRECISE_HOMING]
Description: Homes Z three times then Y and X once, for more repeatable homing on a noisy Z endstop.
# IT: Fa l'homing della Z tre volte, poi Y e X una volta, per un homing più ripetibile con un finecorsa Z rumoroso.
gcode:
    G28 Z
    G28 Z
    G28 Z
    G28 Y
    G28 X
