[gcode_macro QUAD_GANTRY_LEVEL]
description: Wraps QUAD_GANTRY_LEVEL for use with the IDM probe on 4-Z-motor gantries.
# IT: Racchiude QUAD_GANTRY_LEVEL per l'uso con la sonda IDM su gantry a 4 motori Z.
rename_existing: _QUAD_GANTRY_LEVEL
gcode:
    SAVE_GCODE_STATE NAME=STATE_QGL
    BED_MESH_CLEAR
    {% set TARGET_TEMP = printer.heater_bed.target %}
    M140 S0
    {% if not printer.quad_gantry_level.applied %}
      _QUAD_GANTRY_LEVEL horizontal_move_z=10 retry_tolerance=1
    {% endif %}
    _QUAD_GANTRY_LEVEL horizontal_move_z=2
    G28 Z
    M140 S{TARGET_TEMP}
    RESTORE_GCODE_STATE NAME=STATE_QGL
