[gcode_macro LOG_CPU_START]
description: Starts logging CPU load and RAM usage to a file in the background.
# IT: Avvia la registrazione in background del carico CPU e dell'uso RAM su file.
gcode:
    {% set passwd = params.PASSWORD|default(Root_Password)|string %}
    RUN_SHELL_COMMAND CMD=LOG_CPU_START

[gcode_shell_command LOG_CPU_START]
command: bash LOG_CPU_START
# timeout: 5.
verbose: True

[gcode_macro LOG_CPU_STOP]
description: Stops the background CPU/RAM log.
# IT: Ferma la registrazione in background di CPU/RAM.
gcode:
    {% set passwd = params.PASSWORD|default(Root_Password)|string %}
    RUN_SHELL_COMMAND CMD=LOG_CPU_STOP
    
[gcode_shell_command LOG_CPU_STOP]
command: bash LOG_CPU_STOP
# timeout: 5.
verbose: True

[gcode_macro LOG_CPU_CLEAN]
description: Deletes old CPU/RAM log files.
# IT: Elimina i vecchi file di log di CPU/RAM.
gcode:
    RUN_SHELL_COMMAND CMD=LOG_CPU_CLEAN

[gcode_shell_command LOG_CPU_CLEAN]
command: bash LOG_CPU_CLEAN
# timeout: 5.
verbose: True
